* {
    color: #1282A2;
}

.nav {
    background-color: #0A1128;
}

.headerStyle {
    background-color: #001F54;
    margin: 0 auto
}

.bodyStyle {
    background-color: #034078;
    padding-bottom: 1000px;
    width: 100%;
}

.headShot {
    width: 100px
}

.footer {
    display: flex;
    padding: 1rem;
	animation: gradient 15s ease infinite;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100% ;
    justify-content: space-around;
    background-color: #FEFCFB;
}
.contactIcon {
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.footerIcon {
    width: 50px;
}

.col-centered{
    float: none;
    margin: 0 auto;
    justify-content: space-between;
}
